
.home-container{
    display: flex;
    background: linear-gradient( 90deg , rgb(235, 242, 242) 0%, rgb(235, 242, 242) 100%);
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
.left-flex{
    position: relative;
    width: 600px;
    height: 700px;
    display: flex;
    background-size: 500px 600px;
    margin-left: 10px;
    background-repeat: no-repeat;
}
.right-flex{
    position: relative;
    width: 600px;
    height: 700px;
    display: flex;
    background: url(/images/bulb.png);
    background-size: 500px 600px;
    margin-right: 10px;
    background-repeat: no-repeat;
}

.achieve-together{
    position: absolute;
    width: 434px;
    height: 221px;
    left: 120px;
    top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #3F51B5;
}
.intro-para{
    position: relative;
    top: 300px;
    position: absolute;
    width: 100%;
    height: 171px;
    left: 34px;
    /* top: 512px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.87);

}

.video-startup {
    object-fit: cover;
    width: 140%;
    height: 100%;
    /* position: fixed; */
    /* z-index: -1;*/
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 80vh;
    background: linear-gradient( 
90deg
 , rgb(235, 242, 242) 0%, rgb(235, 242, 242) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(235, 242, 242, 0.2);
    object-fit: contain;
  }
  
  h1{
      color: #3F51B5;
     
  }

  @media screen and (max-width: 1320px)
  {
      .home-container{
          flex-direction: column;
      }
      .achieve-together{
          top:50px;
          align-items: center;
      }
      .intro-para{
        top: 200px;
        left: 0px;
        align-items: center;
       
    }
    .left-flex{
        height: 400px;
    }
      
    .right-flex{
        position: relative;
        width: 100%;
        background-size: 100% 90%;
        margin-right: 0px;
        background-repeat: no-repeat;
    }
  }
  @media screen and (max-width: 625px)
  {
      .home-container{
          flex-direction: column;
      }
      .achieve-together{
        top: 50px;
        width: 100%;
        align-items: center;
        left: 0px;
        font-size: 55px;
      }
      intro-para {
        top: 250px;
        left: 0px;
        align-items: center;
        display: flex;
        width: fit-content;
        padding-left: 10px;
        padding-right: 20px;
    }
    .left-flex{

        height: 500px;
        width: 100%;

    }
      
    .right-flex {
    position: relative;
    width: 100%;
    background-size: 100% 90%;
    margin-right: 0px;
    background-repeat: no-repeat;
    top: 10px;
    }
    .video-startup {
        height: 400px;
    }
    .hero-container{
        height: 450px;
    }
  }
 
